[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
shortuuid = "*"
maskpass = "*"
tabulate = "*"
python-dotenv = "*"
tox = "*"
pytest-mock = "*"
pytest-cov = "*"
flask = "*"
marshmallow = "*"
flask-jwt-extended = "*"
flask-smorest = "*"
mysql-connector-python = "*"
pymysql = "*"
cryptography = "*"

[dev-packages]

[requires]
python_version = "3.12"
